@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Lato:ital,wght@0,400;1,700&family=Merriweather:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

body {
    margin: 0;
    background-color: #fff0ad;
}
.other-pages {
    height: 100px;
    background: rgba(23, 24, 26, 0.6);
}
.frontpage {
    img {
        position: fixed;
        //top: 17.5%;
        width: 100%;
        bottom: 0;
    }
    }
    .selects {
        z-index: 2;
        position: relative;
    .box {
        width: 70%;
        height: 100px;
        border: solid 2px black;
        border-radius: 15px;
        margin: 40px auto;
        background-size: cover, contain;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;

        .tran-rect {
            height: 100%;
            width: 100%;
            border-radius: 15px;
            background-color: rgba(255, 255, 255, 0.650);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #6D5C0B;
            font-family: "Alfa Slab One";
        }
    }
    a {
        display: contents;
        cursor: pointer;

    }
    .husbandry {
        background-image: url(../animal-care/images/care2.jpg);
        opacity: 95%;
    }
    .diet {
        background-image: url(../animal-care/images/diet.jpg);
        opacity: 80%;
    }
    .reproduction {
        background-image: url(../animal-care/images/reproduction2.jpg);
        opacity: 95%;
    }
    .about {
        background-image: url(../animal-care/images/about.jpeg);
        opacity: 95%;
    }
    .difficulties {
        background-image: url(../animal-care/images/difficulties.jpg);
        opacity: 95%;
    }
    .tips {
        background-image: url(../animal-care/images/tips.jpg);
        opacity: 80%;
    }
    .behaviour {
        background-image: url(../animal-care/images/behaviour.jpg);
        opacity: 80%;
    }
    .genetics {
        background-image: url(../animal-care/images/genes.jpg);
        opacity: 95%;
    }
}

   .titles {
        width: 60%;
    }
    H1 {
        font-family: 'Goldman';
        font-size: 35px;
        margin-bottom: 0;
        margin-top: 5%;
        line-height: 80%;
    }
    h3 {
        font-size: 20px;
        margin: 2% 0;
        font-family: "Merriweather";
        font-style: italic;
    }
    p {
        font-size: 12px;
        font-family: "Lato";
        color: #07165F;
    }

.page-nav {
    background-color: black;
    ul {
        margin: 0;
        padding: 0;
        text-align: center;
    }
    li {
        display: inline;
        color: blanchedalmond;
        padding: 0 7px;
        font-size: 12px;
        font-family: "Lato";
    }
}
.writing {  
    margin: auto 8rem;

    .list {
        color: #6D5C0B;
        font-style: oblique;
    }
    .intro {
        font-size: 20px;
        color: #6D5C0B;
        font-style: oblique;
    }
    li {
        font-family: "Lato";
        font-weight: 400;
    }
    h4 {
        text-align: center;
        font-family: "Lato";
        color: #6D5C0B;
        font-size: 26px;
    }
    h5 {
        text-indent: 1rem;
        font-family: "Lato";
        font-size: 14;
        color: #6D5C0B
    }
    p {
        line-height: 1.5;
        font-family: "Lato";
        font-size: 16px;
    }
.housing, .substrate, .heating, .water, .hides, .tongs {
    img {
        width: 40%;
    }
}
}
table {
    border: solid 4px #655407;
    background-color: white;
    border-radius: 15px;

}
.tablep {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
}


@media screen and (min-width: 600px) {


        .titles {
            width: 60%;
        }
        H1 {
            font-size: 3rem;
            margin-bottom: 0;
        }
        h3 {
            font-size: 1.5rem;
            margin: 10px 0;
        }

    .page-nav {
        background-color: black;
        color: blanchedalmond;
        ul {
            margin: 0;
            padding: 0;
        }
        li {
            padding: 0 20px;
            font-size: 1.75rem;
        }
    }
    .writing {

    .housing, .substrate, .heating, .water, .hides, .tongs {
        img {
            width: 30%;
        }
    }
    }
}

@media screen and (min-width: 1080px){

.frontpage {

    .selects {
        display: flex;

        .left-selects {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
        }
        .right-selects {
            width: 50%;
            display: flex;
            flex-wrap: wrap;
        }
        .box {

            width: 40%;
            height: 200px;
            margin: 20px auto;
        }
    }
}
        .titles {
            width: 60%;
        }
        H1 {
            font-size: 5rem;
            margin: 20px auto;
        }
        h3 {
            font-size: 2rem;
        }


    .page-nav {

        ul {
            margin: 0;
            padding: 0;

        }
        li {

            padding: 0 20px;
            font-size: 1.75rem;
        }
    }
    .writing {

        .housing, .substrate, .heating, .water, .hides, .tongs {
            img {
                width: 20%;
            }
        }
        }
    
}